<%= form_with(model: @event, local: true) do |form| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label t('view.event.title') %>
    <%= form.text_field :title %>
  </div>

  <div class="form-group">
    <%= form.label t('view.event.content') %>
    <%= form.text_area :content %>
  </div>

  <div class="form-group">
    <%= form.label t('view.genre.name') %>
    <%= form.collection_check_boxes(:genre_ids, Genre.all, :id, :name) %>
  </div>

  <div class="form-group">
    <%= form.label t('view.event.food_category') %>  
    <%= form.collection_radio_buttons(:food_category, Event.food_categories_i18n, :first, :last) do |r| %>
      <%= r.label(class: "radio_button") { r.radio_button(class: "radio_button") + r.text } %>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label t('view.event.restaurant_url') %>
    <%= form.text_field :restaurant_url %>
  </div>

  <div class="form-group">
    <%= form.label t('view.event.budget') %>
    <%= form.select :budget, Event.budgets_i18n.keys.map {|k| [I18n.t("enums.events.budget.#{k}"), k]}, include_blank: "選択して下さい" %>
  </div>

  <div class="form-group">
    <%= form.label t('view.area.name') %>
    <%= form.collection_select :name, Area.all, :id, :name, { prompt: "選択してください" } %>
  </div>

  <div class="form-group">
    <%= form.label t('view.event.start_at') %>
    <%= form.datetime_select :start_at, {} %>

  </div>

  <div class="form-group">
    <%= form.label t('view.event.end_at') %>
    <%= form.datetime_select :end_at, {} %>
  </div>

  <div class="form-group">
    <%= form.label t('view.event.check_in_time') %>
    <%= form.select :check_in_time, Event.check_in_times.keys.map {|k| [I18n.t("enums.events.check_in_time.#{k}"), k]}, include_blank: "選択して下さい" %>
  </div>

  <div class="actions">
    <%= form.submit "投稿する", class:"btn btn-default"%>
  </div>
<% end %>
