<div class="box">
  <div class="box-margin">
    <% if @event.errors.any? %>
      <div id="error_explanation">
        <div class="alert alert-danger">
          <ul class="d-flex flex-column">
          <% @event.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      </div>
    <% end %>
    <%= form_with(model: @event, local: true) do |form| %>
    <div class="form-group row">
      <%= form.label t('views.event.title'), class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= form.text_field :title, class:"form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <%= form.label t('views.event.content'), class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= form.text_area :content, class:"form-control" %>
      </div>
    </div>

    <div class="form-group row">

      <%= form.label t('views.genre.name'), class:"col-sm-2 col-form-label" %>
        <div class="col-sm-10">
          <div class="form-check">
          <% if @genre.present? %>
            <%= form.collection_check_boxes(:genre_ids, Genre.all, :id, :name, checked: genre_id) do |b| %>
              <div class="custom-control custom-checkbox custom-control-inline">
                <%= b.label(class:"form-check-label") { b.check_box(class:"form-check-input") + b.text } %>
              </div>
            <% end %>
          <% else %>
            <%= form.collection_check_boxes(:genre_ids, Genre.all, :id, :name) do |b| %>
              <div class="custom-control custom-checkbox custom-control-inline">
                <%= b.label(class:"form-check-label") { b.check_box(class:"form-check-input") + b.text } %>
              </div>
            <% end %>
          <% end %>
          </div>
        </div>

    </div>

    <fieldset class="form-group">
      <div class="row">
        <%= form.label t('views.event.food_category'), class:"col-form-label col-sm-2 pt-0" %>
        <div class="col-sm-10">
          <%= form.collection_radio_buttons :food_category, Event.food_categories_i18n, :first, :last, include_hidden: false do |b| %>
            <div class="custom-control custom-radio custom-control-inline">
              <%= b.radio_button(class:"custom-control-input") %>
              <%= b.label(class:"custom-control-label") %>
            </div>
          <% end %>
        </div>
      </div>
    </fieldset>

    <div class="form-group row">
      <%= form.label t('views.event.restaurant_url'), class:"col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= form.text_field :restaurant_url, class:"form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <%= form.label t('views.event.budget'), class:"col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= form.select :budget, Event.budgets_i18n.keys.map {|k| [I18n.t("enums.event.budget.#{k}"), k]}, {include_blank: "選択して下さい"}, class:"custom-select" %>
      </div>
    </div>

    <div class="form-group row">
      <%= form.label t('views.area.name'), class:"col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <% if @area.present? %>
          <%= @area.name %>
          <%= form.hidden_field :area_id, :value => @area.id %>
        <% else %>
          <%= form.collection_select :area_id, Area.all, :id, :name, {prompt: '選択してください'}, class:"custom-select" %>
        <% end %>
      </div>
    </div>

    <div class="form-group row">
      <%= form.label t('views.event.start_at'), class:"col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= raw sprintf(
                form.datetime_select(
                      :start_at,
                       use_month_numbers: true,
                      :start_year => DateTime.now.year,
                      :end_year => DateTime.now.year + 1,
                      :minute_step => 10,
                      default: {},
                      date_separator: '%s',
                      datetime_separator: '%s',
                      time_separator: '%s'),
                      '年', '月', '日', '時') + '分' %>
      </div>
    </div>

    <div class="form-group row">
      <%= form.label t('views.event.end_at'), class:"col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= raw sprintf(
                form.datetime_select(
                      :end_at,
                       use_month_numbers: true,
                      :start_year => DateTime.now.year,
                      :end_year => DateTime.now.year + 1,
                      :minute_step => 10,
                      default: {},
                      date_separator: '%s',
                      datetime_separator: '%s',
                      time_separator: '%s',),
                      '年', '月', '日', '時') + '分' %>
      </div>
    </div>

    <div class="form-group row">
      <%= form.label t('views.event.check_in_time'), class:"col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= form.select :check_in_time,
                  Event.check_in_times.keys.map {|k| [I18n.t("enums.event.check_in_time.#{k}"), k]},
                  {include_blank: "選択して下さい"},
                  class:"custom-select" %>
      </div>
    </div>
    <div class="form-group　row">
      <%= form.submit "投稿する", class:"float-right btn btn-secondary"%>
    </div>
  <% end %>
  </div>
</div>
