<%= form_with(model: @event, local: true) do |form| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="form-group">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="form-group">
    <%= form.collection_radio_buttons(:genre_ids, Genre.all, :id, :name) %>
  </div>

  <div class="form-group">
    <%= form.label :restaurant_url %>
    <%= form.text_field :restaurant_url %>
  </div>

  <div class="form-group">
    <%= form.label :budget %>
    <% f.select :budget, Event.budgets.keys.map {|k| [I18n.t("enums.events.budget.#{k}"), k]}, include_blank: "選択して下さい" %>
  </div>

  <div class="form-group">
    <%= form.label :area %>
    <%= form.select :area, Area.names.keys.map {|k| [I18n.t("enums.areas.name.#{k}"), k]}, include_blank: "選択して下さい" %>
  </div>

  <div class="form-group">
    <%= form.label :start_at %>
    <%= form.datetime_select :start_at, {} %>

  </div>

  <div class="form-group">
    <%= form.label :end_at %>
    <%= form.datetime_select :end_at, {} %>
  </div>

  <!-- <div class="form-group"> -->
    <%# <%= form.label :check_in_time %> %>
    <%# <%= form.select :check_in_time, Event.check_in_times.keys.map {|k| [I18n.t("enums.events.check_in_time.#{k}"), k]}, include_blank: "選択して下さい" %> %>
  <!-- </div> -->

  <div class="actions">
    <%= form.submit "投稿する", class:"btn btn-default"%>
  </div>
<% end %>
