<div class="top-image">
  <img class="index-a" src="/assets/eating.jpg/" >
  <% if @genre.present? %>
    <h1 class="text-center"><%= @genre.name %></h1>
  <% elsif @area.present? %>
    <h1 class="text-center"><%= @area.name %></h1>
  <% else %>
    <h1 class="text-center">イベント一覧</h1>
  <% end %>
</div>
<div class="container">
  <div class="search_top">
    <!-- モーダル表示用のボタン -->
    <button type="button" class="btn btn btn-outline-dark btn-lg" data-toggle="modal" data-target="#myModal">詳細検索</button>
    <!-- モーダル -->
    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="myModalLabel">詳細検索</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= search_form_for @q do |f| %>
            <form>
              <div class="form-group row">
                <%= f.label 'タイトル検索', {class:"col-sm-4 col-form-label"} %>
                <div class="col-sm-8">
                  <%= f.search_field :title_cont, class:"form-control" %>
                </div>
              </div>
              <div class="form-group row">
                <%= f.label '料理ジャンル', {class:"col-sm-4 col-form-label"} %>
                <div class="col-sm-8">
                  <%= f.select :food_category_eq, [['イタリアン', 0], ['和食', 1], ['洋食', 2], ['中華', 3], ['その他', 4]], include_blank: '以下から選んでください', class:"form-control" %>
                </div>
              </div>
              <div class="form-group row">
                <%= f.label 'エリア', {class:"col-sm-4 col-form-label"} %>
                <div class="col-sm-8">
                  <%= f.select :area_id_eq, options_from_collection_for_select(Area.all, :id, :name), include_blank: '以下から選んでください', class:"form-control" %>
                </div>
              </div>
              <div class="form-group row">
                <div class="offset-sm-10 col-sm-2">
                <%= f.submit "検索", class: "btn btn-primary" %>
                </div>
              </div>
            </form>
            <% end %>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    <div class="new_post">
        <% if @genre.present? %>
          <div<%= link_to 'イベントを登録する', new_event_path(genre_id: @genre.id), class:"btn-gradation" %></div>
        <% elsif @area.present? %>
          <div><%= link_to 'イベントを登録する', new_event_path(area_id: @area.id), class:"btn-gradation" %></div>
        <% else %>
          <div><%= link_to 'イベントを登録する', new_event_path, class:"btn-gradation" %></div>
        <% end %>
    </div>
<% @events.each do |event| %>
  <div class="list-group">
    <div class="list-group-item">
      <div class="media">
        <div class="col-md-2">
          <%= image_tag(event.user.profile.icon_url, class: "d-block mx-auto" ) %>
            <div class="profile">
              <h5><%=event.user.profile.nickname %></h5>
              <p><%=event.user.profile.calc_age %>歳</p>
              <p><%=gender_view(event.user.profile.gender) %></p>
            </div>
        </div>
        <div class="media-body">
          <div class="col-md-8 float-left">
            <% event.genre_tags.each do |genre| %>
              <span class= 'badge <%=genre_tags(genre.genre.id)%>' ><%=genre.genre.name %></span>
            <% end %>
            <div class="middle-contents">
              <div class="middle-contents-item title">
                <h3><%=event.title %></h3>
              </div>
              <div class="middle-contents-item content">
                <%= truncate(event.content) do %>
                <% end %>
              </div>
              <div class="middle-contents-item restaurant_url">
                <%= link_to event.restaurant_url %>
              </div>
                <ul class="restaurant_info">
                  <li><%=event.area.name %></li>/
                  <li><%=event.food_category_i18n %><li>/
                  <li>予算：<%= event.budget_i18n %></li>
                </ul>
              <div class="middle-contents-item bottom_contents float-left">
                <%# unless event.user_id == current_user.id %>
                  <%# if picture.favorite_users.ids == current_user.id %>
                  <%#= link_to favorite_path(id: picture.favorites.ids), method: :delete do %>
                  <i class="fas fa-heart"></i>
                  <%# end %>
                <%# else %>
                  <%#= link_to favorites_path(picture_id: picture.id), method: :post do %>
                    <i class="far fa-heart"></i>
                  <%# end %>
                <%# end %>
              <%# end %>
                いいね！<%#= picture.favorite_users.count %>件
              </div>
            </div>
          </div>
          <div class="col-md-4 float-right">
            <div class="schedule_time">
              <h3><%= simple_time_start_at(event.start_at) %>~<%= simple_time_end_at(event.end_at) %><h3>
            </div>
            <div class="required_time">
              <p>所要時間：<%= event.required_time %>時間</p>
            </div>
            <div class="check_in_time">
              <p>受付終了時間：<%= event.check_in_time_i18n %></p>
            </div>
              <ul class="link-list d-flex align-items-end">
              <li><%= link_to event_path(event.id), method: :get do %></li>
                <i class="fa fa-info-circle"></i>
              <% end %>
              <% if event.user == current_user %>
                <li><%= link_to edit_event_path(event.id), method: :get do %></li>
                    <i class="fa fa-edit"></i>
                <% end %>
                <li><%= link_to event_path(event.id), method: :delete, data: { confirm: 'Are you sure?' }, method: :delete do %></li>
                    <i class="fa fa-trash"></i>
                <% end %>
              <% end %>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>
