<div class="container">
<h1>イベント一覧</h1>
<div class="form_group">
  <%= search_form_for @q do |f| %>
    <%= f.search_field :title_cont %>
    <%= f.select :food_category_eq, [['イタリアン', 0], ['和食', 1], ['洋食', 2], ['中華', 3], ['その他', 4]], include_blank: 'ラベル' %>
    <%#= f.label :gender, '性別' %>
    <%#= f.select :gender_eq,  options_from_collection_for_select(Profile.all, :id, :gender , 1) %>
    <%= f.submit "search" %>
  <% end %>

</div>
<% @events.each do |event| %>
  <div class="list-group">

    <div class="list-group-item">
      <div class="media">
        <div class="media-left col-xs-2">
          <%= image_tag(event.user.profile.icon_url, class: "center-block img-circle" ) %>
            <div class="profile">
              <h3><%=event.user.profile.nickname %></h3>
              <h4><%=event.user.profile.calc_age %>歳</h4>
            </div>
        </div>
        <div class="media-body">
          <ul class="top-contents">
            <li class="genre_tags">
              <% event.genre_tags.each do |genre| %>
                <span class="label label-default"><%=genre.genre.name %></span>
              <% end %>
            </li>
            <li class="pull-right schedule">
              <div class="schedule_time">
                <h3><%= simple_time_start_at(event.start_at) %>~<%= simple_time_end_at(event.end_at) %><h3>
              </div>
              <div class="required_time">
                <p>所要時間：<%= event.required_time %>時間</p>
              <div class="check_in_time">
                <p>受付終了時間：<%= event.check_in_time_i18n %></p>
              </div>
            </li>
          </ul>
          <div class="middle-contents">
            <div class="title">
              <h3><%=event.title %></h3>
            </div>
            <p><%=event.content %></p>
            <div class="restaurant_url">
              <p><%= link_to event.restaurant_url %></p>
            </div>
              <ul class="restaurant_info">
                <li><%=event.food_category_i18n %><li>
                <li>予算：<%= event.budget_i18n %></li>
              </ul>
            <div class="bottom_contents">
              <%# unless event.user_id == current_user.id %>
                <%# if picture.favorite_users.ids == current_user.id %>
                <%#= link_to favorite_path(id: picture.favorites.ids), method: :delete do %>
                <i class="fas fa-heart"></i>
                <%# end %>
              <%# else %>
                <%#= link_to favorites_path(picture_id: picture.id), method: :post do %>
                  <i class="far fa-heart"></i>
                <%# end %>
              <%# end %>
            <%# end %>
              <strong class="pull-left">いいね！<%#= picture.favorite_users.count %>件</strong>
              <ul class="links pull-right">
                <li><%= link_to event_path(event.id), method: :get do %></li>
                  <i class="fa fa-info-circle"></i>
                <% end %>
                <% if event.user == current_user %>
                  <li><%= link_to edit_event_path(event.id), method: :get do %></li>
                    <i class="fa fa-edit"></i>
                  <% end %>
                  <li><%= link_to event_path(event.id), method: :delete, data: { confirm: 'Are you sure?' }, method: :delete do %></li>
                    <i class="fa fa-trash"></i>
                  <% end %>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<%= link_to 'イベントを登録する', new_event_path, class:"btn btn-default btn-block" %>
</div>
