<div class="container-fluid">

<h1>イベント一覧</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>タイトル</th>
      <th>詳細</th>
      <th>年代</th>
      <th>料理ジャンル</th>
      <th>レストランURL</th>
      <th>予算</th>
      <th>エリア</th>
      <th>開始時間</th>
      <th>終了時間</th>
      <th>受付終了時間</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td class="task_row"><%= event.title %></td>
        <td><%= event.content %></td>
        <td><%= event.user.profile %></td>
        <td><%= event.user.profile.calc_age %></td>
        <td>
          <%# <%= event.genre %> %>
        </td>
        <td><%= event.restaurant_url %></td>
        <td>
          <%# <%= event.budget %> %>
        </td>
        <td><%= event.start_at %></td>
        <td><%= event.end_at %></td>
        <td>
          <%# <%= event.check_in_time %>時間前 %>
        </td>

        <td><%= link_to "詳細", event_path(event.id) %></td>
        <td><%= link_to "編集", edit_event_path(event.id) %></td>
        <td><%= link_to "削除", event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td>
          <!-- エリアテーブル未設定のため、仮記入 -->
          <%# <% event.areas.each do |area| %> %>
          <%# <%= area.name %> %>
          <%# <% end %> %>
        </td>
        <td><%= event.user.profile.nickname %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'イベントを登録する', new_event_path, class:"btn btn-default btn-block" %>

</div>
