<h1>イベント詳細</h1>

<p>
  <strong>タイトル</strong>
  <%= @event.title %>
</p>

<p>
  <strong>詳細</strong>
  <%= @event.content %>
</p>

<p>
  <strong>年齢</strong>
  <%= @event.user.profile.calc_age %>
</p>

<p>
  <strong>性別</strong>
  <%= gender_view(@event.user.profile.gender) %>
</p>

<p>
  <strong>料理</strong>
  <%= @event.food_category %>
</p>

<p>
  <strong>料理</strong>
  <% @event.genres.each do |genre| %>
    <span><%= genre.name %></span>
  <% end %>
</p>

<p>
  <strong>レストランURL</strong>
  <%=link_to @event.restaurant_url %>
</p>

<p>
  <strong>予算</strong>
  <%= @event.budget_i18n %>
</p>

<p>
  <!-- <strong>エリア</strong> -->
  <%# <% @event.areas.each do |area| %> %>
    <!-- <span>
      <%# <%= area.name %> %>
    </span> -->
  <%# <% end %> %>
</p>

<p>
  <strong>時間</strong>
  <%= simple_time_start_at(@event.start_at) %>~<%= simple_time_end_at(@event.end_at) %>
</p>

<p>
  <strong>受付終了時間</strong>
  <%= @event.check_in_time_i18n %>
</p>

<% unless @event.user_id == current_user.id %>
  <% if @apply.present? %>
    <%= link_to 'キャンセルする', apply_for_event_path(id: @apply.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to '参加する', apply_for_events_path(event_id: @event.id), method: :post, class: 'btn btn-primary' %>
  <% end %>
<% end %>

<%= link_to "編集", action: "edit" %>
<%= link_to "戻る", action: "index" %>
