<div class="container">
<h1 class="text-center"><%= t('views.event.show') %></h1>
<div class="box">
  <% if @event.user_id == current_user.id && @event.event_status == "cancelling" %>
    <div class="alert alert-danger mb-4" role="alert"><%= t('views.event.cancellation_request_notice') %></div>
  <% end %>
<table class="table table-borderless">
  <tr>
    <th><%= image_tag(@event.user.profile.icon_url) %></th>
      <td class="first-td align-middle"><%=link_to @event.user.profile.nickname, profile_path(@event.user.profile.id) %></td>
  </tr>
  <tr>
    <th><%= t('views.event.title') %></th>
      <td><%= @event.title %></td>
  </tr>
  <tr>
    <th><%= t('views.event.content') %></th>
      <td><%= @event.content %></td>
  </tr>
  <tr>
    <th><%= t('views.event.age') %></th>
      <td><%= @event.user.profile.calc_age %><%= t('views.event.old') %></td>
  </tr>
  <tr>
    <th><%= t('views.event.gender') %></th>
      <td><%= gender_view(@event.user.profile.gender) %></td>
  </tr>
  <tr>
    <th><%= t('views.event.food_category') %></th>
      <td><%= @event.food_category %></td>
  </tr>
  <tr>
    <th><%= t('views.genre.name') %></th>
      <td>
      <% @event.genres.each do |genre| %>
        <%= genre.name %>
      <% end %>
      </td>
  </tr>
  <tr>
    <th><%= t('views.event.restaurant_url') %></th>
      <td><%=link_to @event.restaurant_url %></td>
  </tr>
  <tr>
    <th><%= t('views.event.budget') %></th>
      <td><%= @event.budget_i18n %></td>
  </tr>
  <tr>
    <th><%= t('views.area.name') %></th>
      <td><%= @event.area.name %></td>
  </tr>
  <tr>
    <th><%= t('views.event.time') %></th>
      <td><%= simple_time_start_at(@event.start_at) %>~<%= simple_time_end_at(@event.end_at) %></td>
  </tr>
  <tr>
    <th><%= t('views.event.check_in_time') %></th>
      <td><%= @event.check_in_time_i18n %></td>
  </tr>
</table>

<div class="show-button">
  <div class="float-right">
    <% if @event.user_id != current_user.id %>
      <% if @apply.present? %>
        <% if @event.event_status == "done" %>
          <%= link_to t('views.event.make_rate'), rating_evaluation_path(id: @event.id, apply_for_event_id: @apply.id), class: 'btn btn-info' %>
          <%= link_to t('views.event.cancellation_request'), cancel_mail_apply_for_event_path(apply_for_event_id: @apply.id), class: 'btn btn-danger' %> |
          <%= link_to t('views.event.back'), joined_event_history_user_path(@apply.user.id)%>
        <% elsif @event.event_status == "cancelling" %>
           <strong><h3>キャンセル申請中</h3></strong>
           <%= link_to t('views.event.back'), event_history_user_path(current_user.id)%>
        <% elsif @event.event_status == "rated" %>
          <strong><h3>評価待ち</h3>イベント主催者からの評価をお待ちください</strong>
          <%= link_to t('views.event.back'), event_history_user_path(@apply.user.id)%>
        <% elsif @event.event_status == "completed" %>
          <strong><h3>評価済み</h3></strong>
          <%= link_to t('views.event.back'), event_history_user_path(@apply.user.id)%>
        <% else %>
          <%= link_to t('views.event.cancel'), apply_for_event_path(id: @apply.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %> |
          <% if @genre.present? %>
            <%= link_to t('views.event.back'), events_path(genre_id: @genre.id)%>
          <% elsif @area.present? %>
            <%= link_to t('views.event.back'), events_path(area_id: @area.id)%>
          <% else %>
            <%= link_to t('views.event.back'), events_path%>
          <% end %>
        <% end %>
      <% else %>
        <%= link_to t('views.event.direct_message'), rooms_path(sender_id: current_user.id, recipient_id: @event.user.id), method: :post %>
        <%= link_to t('views.event.join'), apply_for_events_path(event_id: @event.id), method: :post, class: 'btn btn-primary' %> |
        <% if @genre.present? %>
          <%= link_to t('views.event.back'), events_path(genre_id: @genre.id)%>
        <% elsif @area.present? %>
          <%= link_to t('views.event.back'), events_path(area_id: @area.id)%>
        <% else %>
          <%= link_to t('views.event.back'), events_path%>
        <% end %>
      <% end %>
    <% else %>
      <% if @event.event_status == "pending" %>
        <%= link_to t('views.event.edit_button'), action: "edit"%> |
        <% if @genre.present? %>
          <%= link_to t('views.event.back'), events_path(genre_id: @genre.id)%>
        <% elsif @area.present? %>
          <%= link_to t('views.event.back'), events_path(area_id: @area.id)%>
        <% else %>
          <%= link_to t('views.event.back'), events_path%>
        <% end %>
      <% elsif @event.event_status == "done" %>
        <strong><h3>評価待ち</h3>イベント参加者からの評価をお待ちください</strong>
        <%= link_to t('views.event.back'), event_history_user_path(@event.user.id)%>
      <% elsif @event.event_status == "cancelling" %>
        <p><%= link_to t('views.event.cancellation_approved'), cancel_status_apply_for_event_path(@event.id), class: 'btn btn-danger' %></p>
        <%= link_to t('views.event.back'), event_history_user_path(@event.user.id)%>
      <% elsif @event.event_status == "rated" %>
        <% @event.apply_for_events.each do |apply| %>
          <%= link_to t('views.event.make_rate'), rating_evaluation_path(id: @event.id, apply_for_event_id: apply.id), class: 'btn btn-info' %> |
          <%= link_to t('views.event.back'), event_history_user_path(@event.user.id)%>
        <% end %>
      <% else %>
        <strong><h3>評価済み</h3></strong>
        <%= link_to t('views.event.back'), event_history_user_path(@event.user.id)%>
      <% end %>
    <% end %>
  </div>
</div>
</div>
