<div class="container">
<h1 class="text-center"><%= t('views.event.show') %></h1>
<div class="box">
<table class="table table-borderless">
  <tr>
    <th><%= image_tag(@event.user.profile.icon_url) %></th>
      <td class="first-td align-middle"><%=link_to @event.user.profile.nickname, profile_path(@event.user.profile.id) %></td>
  </tr>
  <tr>
    <th><%= t('views.event.title') %></th>
      <td><%= @event.title %></td>
  </tr>
  <tr>
    <th><%= t('views.event.content') %></th>
      <td><%= @event.content %></td>
  </tr>
  <tr>
    <th><%= t('views.event.age') %></th>
      <td><%= @event.user.profile.calc_age %><%= t('views.event.old') %></td>
  </tr>
  <tr>
    <th><%= t('views.event.gender') %></th>
      <td><%= gender_view(@event.user.profile.gender) %></td>
  </tr>
  <tr>
    <th><%= t('views.event.food_category') %></th>
      <td><%= @event.food_category %></td>
  </tr>
  <tr>
    <th><%= t('views.genre.name') %></th>
      <td>
      <% @event.genres.each do |genre| %>
        <%= genre.name %>
      <% end %>
      </td>
  </tr>
  <tr>
    <th><%= t('views.event.restaurant_url') %></th>
      <td><%=link_to @event.restaurant_url %></td>
  </tr>
  <tr>
    <th><%= t('views.event.budget') %></th>
      <td><%= @event.budget_i18n %></td>
  </tr>
  <tr>
    <th><%= t('views.area.name') %></th>
      <td><%= @event.area.name %></td>
  </tr>
  <tr>
    <th><%= t('views.event.time') %></th>
      <td><%= simple_time_start_at(@event.start_at) %>~<%= simple_time_end_at(@event.end_at) %></td>
  </tr>
  <tr>
    <th><%= t('views.event.check_in_time') %></th>
      <td><%= @event.check_in_time_i18n %></td>
  </tr>
</table>

<div class="show-button">
  <div class="float-right">
    <% if @event.user_id != current_user.id %>
      <% if @apply.present? %>
        <% if @event.event_status == "done" %>
          <%= link_to "評価する", class: 'btn btn-danger' %>
          <%= link_to "キャンセル申請", cancel_mail_apply_for_event_path(apply_for_event_id: @apply.id), class: 'btn btn-danger' %>
        <% else %>
          <%= link_to t('views.event.cancel'), apply_for_event_path(id: @apply.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        <% end %>
      <% else %>
      <!--チャット機能　卒業後実装予定-->
        <%= link_to 'メッセージを送る', rooms_path(sender_id: current_user.id, recipient_id: @event.user.id), method: :post %>
      <!--ここまで-->
        <%= link_to t('views.event.join'), apply_for_events_path(event_id: @event.id), method: :post, class: 'btn btn-primary' %>
      <% end %>
    <% elsif @event.event_status == "done" %>
      <strong><h3>評価待ち</h3></strong>
      <%= link_to t('views.event.back'), event_history_user_path(@event.user.id)%>
    <% else %>
      <%= link_to t('views.event.edit_button'), action: "edit"%> |
      <% if @genre.present? %>
        <%= link_to t('views.event.back'), events_path(genre_id: @genre.id)%>
      <% elsif @area.present? %>
        <%= link_to t('views.event.back'), events_path(area_id: @area.id)%>
      <% else %>
        <%= link_to t('views.event.back'), events_path%>
      <% end %>
    <% end %>
  </div>
</div>
</div>
