<div class="container">
<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br/>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions my-3">
    <%= f.submit "ログインする" %>
  </div>

    <%= link_to 'ゲストA男ログイン（閲覧用）', users_guest1_sign_in_path, method: :post, class: "btn btn-warning" %>
    <%= link_to 'ゲストB子ログイン（閲覧用）', users_guest2_sign_in_path, method: :post, class: "btn btn-info" %>
    <%= link_to 'Signin with Google', user_google_omniauth_authorize_path %>

<% end %>

<%= render "devise/shared/links" %>

</div>
