<div class="container">
  <h1 class= "text-ceter my-5">お店を探そう</h1>
  <div class="form-group">

  <%= form_with(url: restaurants_path, method: :get, local: true) do |f| %>
    <%= f.text_field :search, class:"search_container form-group", placeholder:"キーワード検索", size:"25" %>
    <div><%= select_tag :large_area, options_for_select(@large_area_select), class:"form-group" %></div>
    <div id="selects">
      <% @large_area_group.each_with_index do |group, index| %>
        <div id="<%= group[0] %>" class="selectbox"><%= select_tag :middle_area, options_for_select(group[1]) %></div>
      <% end %>
    </div>
    <%= f.submit 'Search', class:"btn btn-secondary" %>
  <% end %>
</div>
<% if @results.present? %>
  <% @results.each do |result| %>
  <div class="card mb-3" style="max-width: 100%;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <%= image_tag result["photo"]["pc"]["l"], class: "d-block mx-auto" %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><%= result["name"] %></h5>
          <p class="card-text"><%= result["access"] %></p>
          <p class="card-text"><%= result["address"] %></p>
          <p class="card-text"><%= result["budget"]["average"] %></p>
          <p class="card-text"><%= result["open"] %></p>
          <p class="card-text"><%= link_to result["urls"]["pc"] %></p>
          <p class="card-text"><small class="text-muted"><%= result["genre"]["name"] %></small></p>
        </div>
        <div class="mx-5 float-right">
          <%= link_to "ここのお店にする", new_event_path(restaurant_info: result, genre_id: @genre), class:"btn btn-outline-dark" %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
<% end %>
</div>
