<html>
  <head>
    <title>MeetsEats</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/11c5374270.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample7">
              <span class="sr-only">everydayphoto</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">MeetsEats</a>
          </div>

          <div class="collapse navbar-collapse" id="navbarEexample7">
            <ul class="nav navbar-nav">
            <% unless user_signed_in? %>
              <li><%= link_to 'ログイン', new_user_session_path %></li>
              <li><%= link_to 'サインアップ', new_user_registration_path %></li>
            <% else %>
              <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
              <% if current_user.profile.nil? %>
                <li>こんにちは、ゲストさん</li>
              <% else %>
                <li>こんにちは、<%= current_user.profile.nickname %>さん</li>
                <li><%= link_to 'イベント一覧', events_path %></li>
                <li><%= link_to "マイページ", my_events_user_path(current_user.id) %></li>
              <% end %>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <div class= "mypage">
      <div class= "container">
        <div class= "row">
          <div class= "col-md-12">
            <div class= "col-md-2">
            <h2>マイページ</h2>
              <div class = "my_menu_buttons">
              <div class= "menu box11">
                <p>Menu</p>
                  <p><%= link_to 'マイトップページ', my_events_user_path(current_user.id) %></p>
                  <p><%= link_to 'プロフィール編集', profile_path(current_user.profile.id) %></p>
                  <p><%= link_to 'イベント履歴', event_history_user_path(current_user.id) %></p>
                  <p><%= link_to 'イベント参加履歴' %></p>
                  <p><%= link_to 'お気に入り' %></p>
              </div>
            </div>
          </div>
          <div class= "col-md-7 float-right">
            <div class = "middle_contents">
              <% flash.each do |key, value| %>
                <div class="alert <%= bootstrap_class_for(key) %>" ><%= value %></div>
              <% end %>
              <%= yield %>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
