<html>
  <head>
    <title>MeetsEats</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>
  <body>
    <header>
      <nav class="col-12 clearfix">
        <h1 class="float-left">
          <a href="/">Meets Eats</a>
        </h1>
        <ul class="float-right">
        <% unless user_signed_in? %>
          <li><%= link_to 'ログイン', new_user_session_path %></li>
          <li><%= link_to 'サインアップ', new_user_registration_path %></li>
        <% else %>
          <% if current_user.profile.nil? %>
            <li><p>こんにちは、ゲストさん<p></li>
          <% else %>
            <li><p>こんにちは、<%= current_user.profile.nickname %>さん</p></li>
            <li><%= link_to 'イベントを探す', search_top_events_path %></li>
            <li><%= link_to "マイページ", my_events_user_path(current_user.id) %></li>
          <% end %>
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
        <% end %>
        </ul>
      </nav>
    </header>

      <div class= "container">
        <div class= "row">
          <div class= "col-md-12">
            <div class= "col-md-3 float-left">
            <h2>マイページ</h2>
              <div class = "my_menu_buttons">
              <div class= "menu box">
                <p>Menu</p>
                  <p><%= link_to 'マイトップページ', my_events_user_path(current_user.id) %></p>
                  <p><%= link_to 'プロフィール詳細', profile_path(current_user.profile.id) %></p>
                  <p><%= link_to 'イベント履歴', event_history_user_path(current_user.id) %></p>
                  <p><%= link_to 'イベント参加履歴' %></p>
                  <p><%= link_to 'お気に入り' %></p>
              </div>
            </div>
          </div>
          <div class= "col-md-9 float-right">
            <div class = "middle_contents">
              <% flash.each do |key, value| %>
                <div class="alert <%= bootstrap_class_for(key) %> mb-0" ><%= value %></div>
              <% end %>
              <%= yield %>
            </div>
            </div>
          </div>
        </div>
      </div>
    <footer>
      <p class="footer-title">MeetsEats</p>
        <nav>
          <ul class="footer-list">
            <li><a href="#">サイトマップ</a></li>
            <li><a href="#">プライバシーポリシー</a></li>
            <li><a href="#">サイト利用規約</a></li>
            <li><a href="#">お問い合わせ</a></li>
          </ul>
        </nav>
      <p class="footer-title">Copyright ©︎MeetsEats, Inc.<p/>
    </footer>
  </body>
</html>
