<html>
  <head>
    <title>MeetsEats</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <nav class="col-12 clearfix">
        <h1 class="float-left">
          <a href="/">Meets Eats</a>
        </h1>
        <ul class="float-right">
        <% unless user_signed_in? %>
          <li><%= link_to t('views.application.login_link'), new_user_session_path %></li>
          <li><%= link_to t('views.user.sign_up'), new_user_registration_path %></li>
        <% else %>
          <% if current_user.profile.nil? %>
            <li><p><%= t('views.application.hello_guest') %><p></li>
          <% else %>
            <li><p><%= t('views.application.hello') %><%= current_user.profile.nickname %>さん</p></li>
            <li><%= link_to t('views.application.search_event'), search_top_events_path %></li>
            <li><%= link_to t('views.application.register_event'), restaurants_path %></li>
            <li><%= link_to t('views.user.mypage'), my_event_user_path(current_user.id) %></li>
          <% end %>
          <li><%= link_to t('views.application.logout_link'), destroy_user_session_path, method: :delete %></li>
        <% end %>
        </ul>
      </nav>
    </header>

    <div class= "col-md-12">
        <div class= "col-md-3 float-left">
          <div class= "container">
            <% if user_signed_in? %>
            <h2><%= t('views.user.mypage') %></h2>
              <div class = "my_menu_buttons">
                <div class= "menu box">
                  <div class="profile_center">
                    <div class="profile_figure d-block mx-auto">
                      <%= image_tag current_user.profile.icon_url, class:'d-block mx-auto' %>
                    </div>
                    <div class="profile_name text-center" style="color: #444444;">
                      <%= current_user.profile.nickname %>
                    </div>
                  </div>
                    <div class="menu-lists my-5">
                      <p class="menu-list-item"><%= link_to t('views.user.mypage_top'), my_event_user_path(current_user.id) %></p>
                      <p class="menu-list-item"><%= link_to t('views.user.user_details'), profile_path(current_user.profile.id) %></p>
                      <p class="menu-list-item"><%= link_to t('views.user.event_history'), event_history_user_path(current_user.id) %></p>
                      <p class="menu-list-item"><%= link_to t('views.user.joined_event_history'), joined_event_history_user_path(current_user.id) %></p>
                      <p class="menu-list-item"><%= link_to t('views.user.messages'), rooms_path(current_user.id) %></p>
                      <p class="menu-list-item"><%= link_to t('views.user.favorites_lists'), favorite_lists_user_path(current_user.id) %></p>
                   </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
          <div class= "col-md-9 float-right">
            <div class="container">
              <div class = "middle_contents">
              <%= yield %>
              </div>
            </div>
          </div>
    </div>

    <footer>
      <p class="footer-title">MeetsEats</p>
        <nav>
          <ul class="footer-list">
            <li><%= link_to t('views.application.site_map') %></li>
            <li><%= link_to t('views.application.privacy_policy') %></li>
            <li><%= link_to t('views.application.rule') %></li>
            <li><%= link_to t('views.application.contact') %></li>
          </ul>
        </nav>
      <p class="footer-title">Copyright ©︎MeetsEats, Inc.<p/>
    </footer>
  </body>
</html>
