<!DOCTYPE html>
<html>
  <head>
    <title>MeetsEats</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul>
    <% if user_signed_in? %>
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
      <% if current_user.profile.nil? %>
        <li>こんにちは、ゲストさん</li>
      <% else %>
        <li>こんにちは、<%= current_user.profile.nickname %>さん</li>
        <li><%= link_to 'イベント一覧', search_top_events_path %></li>
        <li><%= link_to "マイページ", my_events_user_path(current_user.id) %></li>
      <% end %>
    <% else %>
      <li><%= link_to 'ログイン', new_user_session_path %></li>
      <li><%= link_to 'サインアップ', new_user_registration_path %></li>
    <% end %>
    <%= yield %>
    </ul>
  </body>
</html>
