<!DOCTYPE html>
<html>
  <head>
    <title>MeetsEats</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/11c5374270.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </head>

  <body>
    <header>
      <h1>
        <a href="/">Meets Eats</a>
      </h1>
    <nav class="pc-nav">
      <!-- <div class="container-fluid"> -->
      <ul>
      <% unless user_signed_in? %>
        <li><%= link_to 'ログイン', new_user_session_path %></li>
        <li><%= link_to 'サインアップ', new_user_registration_path %></li>
      <% else %>
        <% if current_user.profile.nil? %>
          <li><p>こんにちは、ゲストさん<p></li>
        <% else %>
          <li><p>こんにちは、<%= current_user.profile.nickname %>さん</p></li>
          <li><%= link_to 'イベント一覧', search_top_events_path %></li>
          <li><%= link_to "マイページ", my_events_user_path(current_user.id) %></li>
        <% end %>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
      <% end %>
      </ul>
    </nav>
  </header>
    <% flash.each do |key, value| %>
      <div class="alert <%= bootstrap_class_for(key) %>" ><%= value %></div>
      <% end %>
    <%= yield %>
  </body>
  <footer>
    <div class="footer-title"><h5>MeetsEats</h5></div>
    <nav class="footer-list">
      <ul>
        <li><a href="#">サイトマップ</a></li>
        <li><a href="#">プライバシーポリシー</a></li>
        <li><a href="#">サイト利用規約</a></li>
        <li><a href="#">お問い合わせ</a></li>
      </ul>
    </nav>
    <div class="footer-title"><h5>Copyright MeetsEats, Inc.</h5>
  </footer>
</html>
