<!DOCTYPE html>
<html>
  <head>
    <title>MeetsEats</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="col-12 clearfix">
        <h1 class="float-left">
          <a href="/">Meets Eats</a>
        </h1>
        <ul class="float-right">
        <% unless user_signed_in? %>
          <li><%= link_to t('views.application.login_link'), new_user_session_path %></li>
          <li><%= link_to t('views.user.sign_up'), new_user_registration_path %></li>
        <% else %>
          <% if current_user.profile.nil? %>
            <li><p><%= t('views.application.hello_guest') %><p></li>
          <% else %>
            <li><p><%= t('views.application.hello') %><%= current_user.profile.nickname %>さん</p></li>
            <li><%= link_to t('views.application.search_event'), search_top_events_path %></li>
            <li><%= link_to t('views.application.register_event'), restaurants_path %></li>
            <li><%= link_to t('views.user.mypage'), my_event_user_path(current_user.id) %></li>
          <% end %>
          <li><%= link_to t('views.application.logout_link'), destroy_user_session_path, method: :delete %></li>
        <% end %>
        </ul>
      </nav>
    </header>
    <div class="main">
      <% flash.each do |key, value| %>
        <div class="alert <%= bootstrap_class_for(key) %> mb-0 "><%= value %></div>
        <% end %>
      <%= yield %>
    </div>
    <footer>
      <p>MeetsEats</p>
        <nav>
          <ul class="footer-list">
            <li><a href="#">サイトマップ</a></li>
            <li><a href="#">プライバシーポリシー</a></li>
            <li><a href="#">サイト利用規約</a></li>
            <li><a href="#">お問い合わせ</a></li>
          </ul>
        </nav>
      <p>Copyright ©︎MeetsEats, Inc.<p/>
    </footer>
  </body>
</html>
